@model PositionQueryModel

@{
    ViewBag.Title = "Добавяне на нова длъжност в Умната Фабрика";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">


            <div class="form-group">
                <label asp-for="Title">Наименование</label>
                <input asp-for="Title" class="form-control" placeholder="Наименование...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Описание</label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Описание..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="PositionType">Тип на длъжността</label>
                <select asp-for="PositionType" class="form-control">


                    <option value="@SmartFactory.Infrastructure.Data.PositionType.factoryManager">Висш мениджмънт</option>
                    <option value="@SmartFactory.Infrastructure.Data.PositionType.Manager">Ръководен персонал</option>
                    <option value="@SmartFactory.Infrastructure.Data.PositionType.Electrical">Електротехник</option>
                    <option value="@SmartFactory.Infrastructure.Data.PositionType.Operator">Оператор</option>
                </select>
                <span asp-validation-for="PositionType" class="small text-danger"></span>
            </div>


            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Добави" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}