@model PositionEditModel

@{
    ViewBag.Title = "Информация за длъжност" ;
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Описание: <b>@Model.Description</b></p>
           
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-warning" asp-controller="Position" asp-action="Edit"
                   asp-route-id="@Model.Id">Промяна</a>
                    <a class="btn btn-danger" asp-controller="Position" asp-action="Delete"
                   asp-route-id="@Model.Id">Изтриване</a>

                }
            </div>
           
        </div>
    </div>
</div>
