@model EmployeeDetailsModel

@{
    ViewBag.Title = "Информация за служител" ;
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="container" style="display:inline">
    <div class="row">
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@string.Concat(Model.FirstName," ",Model.LastName)</u></p>
            <p>Възраст: <b>@Model.Age</b></p>
            <p>Адрес: <b>@Model.Address</b></p>
            <p>
                Заплата:
                <b>@String.Format("{0:f2}", Model.Salary) BGN</b>
            </p>
            <p>Длъжност:@Model.Position</p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Промяна</a>
                    <a asp-controller="Employee" asp-action="Leave" asp-route-id="@Model.Id"
                   class="btn btn-danger">Освобождаване</a>
                    
                }
            </div>
           
        </div>
    </div>
</div>
